<!-- Admin view that shows a list of all user accounts and allows for CRUD -->

@using Microsoft.AspNetCore.Identity;

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<!-- View bag to load in users-->
@{
    ViewBag.Title = "All Users";
}
@if (Model.Any())
{   <div class="row">

        <!-- Heading -->
        <h1 class="col-2">All Users</h1>


        <a asp-area="Identity" asp-page="/Account/Login"

       class="create-button col-4" style="width:auto">
        Add New User
    </a>
    </div>

    <!-- User table -->
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" class="edit-button">Edit</a>
                <a asp-controller="Admin" asp-action="UserDelete" asp-route-id="@user.Id" asp-route-name="@user.UserName" class="delete-button">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Users Added Yet
        </div>
    </div>
}