@model IEnumerable<Product>

@{
    Layout = "_AdminLayout";
}

<div class="row">
<a class="create-button col-2" asp-controller="Admin" asp-action="ProductCreate">Create a Product</a>
</div>


<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Number of Parts</th>
            <th>Price</th>
            <th>Primary Color</th>
            <th>Secondary Color</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Year</td>
                <td>@product.num_parts</td>
                <td>@product.Price</td>
                <td>@product.PrimaryColor.Color_Description</td>
                <td>@product.SecondaryColor.Color_Description</td>
                <td><a class="edit-button" asp-controller="Admin" asp-action="Edit" asp-route-id="@product.Product_ID">Edit</a></td>
                <td><a class="delete-button" asp-controller="Admin" asp-action="Delete" asp-route-id="@product.Product_ID">Delete</a></td>


            </tr>
        }
    </tbody>
</table>