@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>



<form method="get" asp-controller="Home" asp-action="Products" >
    <select name="categoryDescription" onchange="this.form.submit()" class="form-select">
        <option value="">All Categories</option>
        @foreach (string pt in Model ?? Enumerable.Empty<string>())
        {
            @if (Context.Request.Query["categoryDescription"] == pt)
            {
                <option value="@pt" selected="selected">@pt</option>
            }
            else
            {
                <option value="@pt">@pt</option>
            }
        }
    </select>
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="color" value="@Context.Request.Query["color"]" />
    <input type="hidden" name="pageSizes" value="@Context.Request.Query["pageSizes"]" />

</form>


