@model WinterIntex.Models.UserRecommendations
@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero div -->
<div class="bg-black text-white">
    <div class="container">
        <div class="row m-1 p-1 align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <br />
                <h1 class="fw-bold" style="font-size: 4.5vw;">Welcome to Aurora's LEGO Shop</h1>
                <h4 class="fw-normal" style="font-size: 1.5vw;">With new arrivals coming to you all summer long</h4>
                <br />
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Products" class="btn btn-primary" style="font-size: 1.8vw; border-radius: 10px; font-family: 'Saira Condensed', sans-serif; width: 250px">Shop Now</a>
                </div>
                <br />
            </div>
            <div class="col-md-7 text-center">
                <br class="d-md-none">
                <img src="~/img/giphy (1).gif" alt="LEGO Batman gif" class="img-fluid" style="max-width: 100%;">
            </div>
        </div>
        @* <h3>Aurora's recommendations for you:</h3> *@
        @* @foreach (var recProduct in new[] { Model.Recommendation_1, Model.Recommendation_2, Model.Recommendation_3 }) *@
        @* { *@
        @*     <div class="col-md-4 mb-3"> *@
        @*         <div class="card"> *@
        @*             <img src="@recProduct." class="card-img-top" alt="@recProduct.Name recommendation for @Model.CoolProduct.Name"> *@
        @*             <div class="card-body"> *@
        @*                 <h5 class="card-title">@recProduct.Name</h5> *@
        @*                 <form id="@recProduct.Product_ID" method="get" asp-page="/ProductDetails"> *@
        @*                     <input type="hidden" asp-for="Product_ID" value="@recProduct.Product_ID" /> *@
        @*                     <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
        @*                     <button type="submit" class="btn btn-outline-success btn-sm">View Details</button> *@
        @*                 </form> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* } *@
    </div>
</div>
<br />

<!-- Recommendations div -->
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3 style="font-size: 3vw;">Aurora's Recommendations For You</h3>
    }
    else
    {
        <h3 style="font-size: 3vw;">Best Sellers</h3>
    }
</div>



