@* @model WinterIntex.Models.UserRecommendations *@
@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero div -->
<div class="bg-black text-white">
    <div class="container">
        <div class="row m-1 p-1" style="height: 400px;">
            <div class="col-md-5">
                <br />
                <h1 style="font-size: 70px;">Welcome to Aurora's LEGO Shop</h1>
                <h4 style="font-size: 28px;">With new arrivals coming to you all summer long</h4>
                <br />
                <div style="display: flex; justify-content: center;">
                    <a asp-controller="Home" asp-action="Products" class="btn btn-primary" style="font-size: 30px; border-radius: 10px; font-family: 'Saira Condensed', sans-serif;">Shop Now</a>
                </div>
            </div>
            <div class="col-md-7">
                <div style="text-align: center;">
                    <br />
                    <img src="~/img/giphy (1).gif" alt="LEGO Batman gif" style="width: 600px; height: auto;">
                </div>
            </div>
        </div>
        @* <h3>Aurora's recommendations for you:</h3> *@
        @* <div class="row"> *@
        @*     <div class="col-4"> *@
        @*         <h5>@Model.UserRec1.</h5> *@
        @*         <form id="@Model.RecProduct1.Product_ID" method="get" asp-page="/ProductDetails"> *@
        @*             <input type="hidden" asp-for="Product_ID" value="@Model.RecProduct1.Product_ID" /> *@
        @*             <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
        @*             <button type="submit" class="btn-outline-success btn-sm float-end">View Details</button> *@
        @*         </form> *@
        @*         <img class="card" style="width: 18rem;" src="@Model.RecProduct1.img_Link" alt="@Model.RecProduct1.Name recommendation for @Model.CoolProduct.Name " /> *@
        @*     </div> *@
            @* <div class="col-4"> *@
            @*     <h5>@Model.RecProduct2.Name</h5> *@
            @*     <form id="@Model.RecProduct2.Product_ID" method="get" asp-page="/ProductDetails"> *@
            @*         <input type="hidden" asp-for="Product_ID" value="@Model.RecProduct2.Product_ID" /> *@
            @*         <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
            @*         <button type="submit" class="btn-outline-success btn-sm float-end">View Details</button> *@
            @*     </form> *@
            @*     <img class="card" style="width: 18rem;" src="@Model.RecProduct2.img_Link" alt="@Model.RecProduct2.Name recommendation for @Model.CoolProduct.Name " /> *@
            @* </div> *@
            @* <div class="col-4"> *@
            @*     <h5>@Model.RecProduct3.Name</h5> *@
            @*     <form id="@Model.RecProduct3.Product_ID" method="get" asp-page="/ProductDetails"> *@
            @*         <input type="hidden" asp-for="Product_ID" value="@Model.RecProduct3.Product_ID" /> *@
            @*         <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> *@
            @*         <button type="submit" class="btn-outline-success btn-sm float-end">View Details</button> *@
            @*     </form> *@
            @*     <img class="card" style="width: 18rem;" src="@Model.RecProduct3.img_Link" alt="@Model.RecProduct3.Name recommendation for @Model.CoolProduct.Name " /> *@
            @* </div> *@
        @* </div> *@
    </div>
</div>
